<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<div class="d-flex flex-column align-items-center">
    <h3 class="text-muted mb-0">Drawing Board List</h3>
    <hr class="w-100"/>
    <button class="btn btn-primary mb-1" onclick="window.location.href='/Drawing/Create'">Create <i class="bi bi-plus-square"></i></button>

    @{
        if ((ViewData["drawingList"] != null) && ((List<CDB.Models.Entities.Drawing>)ViewData["drawingList"]).Count != 0)
        {
            foreach (var item in (List<CDB.Models.Entities.Drawing>)ViewData["drawingList"])
            {
                <div class="d-flex flex-row container border rounded mb-2" style="cursor:pointer" onclick="window.location.href='/Drawing?name=@item.Name'">
                    <div class="flex-grow-1">
                        <h5 class="mb-0">@item.Name</h5>
                        <div class="mt-0">
                            <i style="font-size:12px">by</i>
                            <i style="font-size:13px">@item.UserName</i>
                        </div>

                        
                    </div>
                    <div>
                        <p style="font-size:13px;">@item.CreatedAt.ToString("MM/dd/yyyy")</p>
                    </div>
                </div>
            }
        }
        else
        {
            <p class="bg-info mt-5">No drawings found!</p>
        }
    }
</div>
